@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Prompt&display=swap');

*{
    margin: 0;
    padding:0 !important;
    box-sizing: border-box;
    user-select: none;
}

.container{
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
}

.content-left , .content-right{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-left h1{
    font-size: 2.2rem;
    margin-bottom: 2rem;
    color: #545454;
    text-align: center;
}

.content-left label{
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 8px;
    color:  #3F3F3F;
}

.content-left form{
    width: 400px;
    height: auto;
    margin-top: 1.4rem;
}

form .err-style{
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid #CECFD6;
    margin-bottom: 1rem;
    font-size: 17px;
    padding: 10px !important; 
    color:  #3F3F3F;
}

form .err-style:focus{
    border: 1px solid #A2A2A2;   
}

.center-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 100%;
}

.center-content span , .center-content .forgotPassword{
    font-size: 1rem;
    color:  #2E2E2E;
    font-weight: 500;
}

.center-content .forgotPassword{
    text-decoration: none;
    transition: 0.3s;
}

.center-content .forgotPassword:hover{
    color: #545454;
}
         
.content-left button{
    background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%);
    width: 100%;
    height: 40px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    display: block;
    border: none;
    margin-top: 1rem;
  }

.content-left button:hover{
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.content-left .button{
    background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%);
    width: 100%;
    height: 40px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    display: block;
    border: none;
    margin-top: 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.content-left .button:hover{
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
 
.content-left .buttom-content{
    margin-top: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttom-content div , .buttom-content .signup{
    font-size: 1rem;
    color:  #848484;
    font-weight: 400;
}

.buttom-content .signup{
    text-decoration: none;
    color: #2E2E2E;
    transition: .3s;
    font-weight: 500;
}

.buttom-content .signup:hover{
    color: #545454;
}

.input-head{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.input-head div{
    width: 50%;
}

.input-head div input{
    height: 40px;
}

.content-left p{
    color: #848484;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1.4rem;
}

.resend-otp{
    margin-top: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resend-otp .first-span{
    font-size: 1rem;
    color: #848484;
    font-weight: 400;
}

.resend-otp .last-span{
    color: #2E2E2E;
    transition: .3s;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}

.resend-otp .last-span:hover{
    color: #545454;
}

.content-left .logo-container{
    text-align: center;
    margin-bottom: 1rem;
}

.content-left .check-logo{
    color: #0072ff;
    font-size: 3.5rem;
}

.content-left .errMsg{
    color: #FF0000;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.err-style.custom , .err-style.custom:focus{
    width: 100%;
    height: 40px;
    outline: none;
    margin-bottom: 1rem;
    font-size: 17px;
    padding: 10px !important; 
    color:  #3F3F3F;
    border: 1px solid #FF0000;
}

.err-style.custom-special , .err-style.custom-special:focus{
    width: 100%;
    border: 1px solid #FF0000;
}

.password-effect.custom , .password-effect.custom:focus{
    width: 100%;
    height: 40px;
    outline: none;
    margin-bottom: 1rem;
    font-size: 17px;
    color:  #3F3F3F;
    border: 1px solid #FF0000;
}

.password-effect{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border: 1px solid #CECFD6;
}

.password-effect input{
    width: 100%;
    border: none;
    outline: none;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.password-effect .icon{
    margin-right: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    color: #545454;
}

.errMsg-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.errMsg-container span{
    width: 50%;
}

.container-content .checkSigninErr{
    color: #E92727;
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6DBDB;
    font-size: 1rem;
}

@media (max-width: 1200px){
    .content-left form {
        width: 300px;
    }

    .content-left h1{
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .content-left .container-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-left .container-content p{
        width: 80%;
        margin-bottom: 0;
    }

    .container-content p span{
        display: block;
        margin-top: 1rem;
    }

    .content-left .check-logo{
        font-size: 3rem;
    }
}

@media (max-width: 768px){
    .content-left form {
        width: 250px;
    }

    .content-left h1{
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    .center-content{
        flex-direction: column;
        margin-bottom: 2.5rem;
        gap: .5rem;
        margin-top: .5rem;
    }

    .center-content div{
        width: 100%;
        text-align: center;
    }

    .content-left .container-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .content-left .container-content p{
        width: 75%;
        margin-bottom: 0;
    }

    .container-content p span{
        display: block;
        margin-top: 1rem;
    }

    .resend-otp {
        flex-direction: column;
    }

    .content-left .check-logo{
        font-size: 2.5rem;
    }
}

@media (max-width: 480px){
    .content-left form {
        width: 300px;
    }

    .content-left h1{
        font-size: 1.4rem;
    }

    .center-content{
        flex-direction: row;
        margin-bottom: 0;
        gap: .5rem;
    }

    .content-left .container-content p{
        width: 100%;
    }

}