*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-drag: none;
    user-select: none;
}

.container-media-page{
    min-width: 100vw;
    min-height: 100vh;
    background-color: #f5f6f7;
    position: relative;
}

.close-popup{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.container-header{
    height: 7vh;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-left-header{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-center-header{
    width: 30% !important;
    height: 100%;
}

.content-right-header{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.text-decoration-none{
    text-decoration: none;
}

.logo-header{
    margin-top: 5px;
    font-size: 1.9rem;
    color: #353535;
    font-weight: bold;
}

.content-center-header{
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container-input-header{
    width: 100%;
    height: 40px;
    background-color: #f5f6f7;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    transition: .2s;
}

.container-input-header:hover{
    background-color: #F2F3F5;
}

.search-people{
    width: 100%;
    outline: none;
    border: none;
    font-size: 1.1rem;
    background: none;
    color: #353535;
    padding-right: 15px !important;
}

.icon-search-input{
    margin: 10px 0 10px 10px;
    color: #606770;
}

.options-in-media-page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 200px;
    line-height: 0;
    list-style-type: none;
    cursor: pointer;
    margin-bottom: 0;
}

.container-icons{
    width: 45px;
    height: 45px;
    background-color: #EBEDF0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    position: relative;
    transition: .2s;
    cursor: pointer;
}

.container-icons:hover{
    background-color: #DADDE1;
}

.alert-red-circle{
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    right: 5%;
}

.icons-in-content-right-header{
    font-size: 1rem;
    color: #353535;
}

.icons-in-content-right-header.fix-icon{
    font-size: 1rem;
}

#dropdown-menus-id{
    position: relative;
}

.dropdown-menus-class{
    position: absolute;
    top: 132%;
    right: 0;
    width: 130px;
    height: 120px;
    background-color: #fff;
    box-shadow: 0 0 10px #cacaca;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.menus-in-dropdown{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 1rem !important;
    transition: .2s;
}

.menus-in-dropdown:hover{
    background-color: #F3F3F3;
}

.icons-in-dropdown{
    font-size: 1rem;
    color: #353535;
}

.text-in-dropdown{
    font-size: .9rem;
    color: #353535;
}

.notification-header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#notification-id{
    position: relative;
}

.notification-popup{
    position: absolute;
    top: 132%;
    right: 0;
    width: 350px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #cacaca;
    padding: 5px 1rem 5px 1rem !important;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.p-notification-header{
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0;
    color: #353535;
}

.notification-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    transition: .1s;
    border-radius: 10px;
    overflow-y: auto;
}

.notification-body::-webkit-scrollbar{
    width: 5px;
}

.notification-body::-webkit-scrollbar-thumb{
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, .2);
}

.notification-body::-webkit-scrollbar-thumb:hover{
    background-color: rgba(0, 0, 0, .3);
}

.notification-users-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100px;
    margin: 5px 0 5px 0;
    border-radius: 10px;
    padding: 5px !important;
}

.notification-users-container:hover{
    background-color: #f3f3f3;
}

.notification-users-header{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.notification-users-header-container{
    width: 65px;
    height: 65px;
    border-radius: 3rem;
    overflow: hidden;
    margin: 0 10px 0 7px;
}

.img-notification-user-profile{
    width: 100%;
    height: 100%;
}

.notification-users-body{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.notofication-username , .notification-user-content , .notification-modify-date{
    width: 100%;
}

.span-username , .span-user-content  , .span-user-modify-date{
    font-size: 1rem;
    color: #353535;
}

.span-user-content  , .span-user-modify-date{
    font-weight: 400;
}    

.no-notification{
    margin-bottom: 0;
    margin: 10px 0;
    color: #353535;
}

.search-result{
    position: absolute;
    top: 100%;
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #cacaca;
}

.serach-result-text-decoration-none{
    display: block;
    margin: 10px;
}

.search-result-container{
    width: 100%;
    height: 70px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transition: .2s;
}

.search-result-container:hover{
    background-color: #F3F3F3;
}

.search-result-image-user{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search-result-image-container{
    width: 55px;
    height: 55px;
    border-radius: 3rem;
    overflow: hidden;
    margin-left: 7px;
    margin-right: 10px;
}

.search-img-user{
    width: 100%;
    height: 100%;
}

.search-result-fullname-user{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 85%;
    height: 100%;
    color: #353535;
    font-size: 1rem;
    font-weight: 500;
}

.search-fullname-user{
    margin-bottom: 0;
}

.serach-result-text-decoration-none{
    text-decoration: none;
}

.no-search-result-container{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-search-result{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    color: #353535;
    font-size: 1rem;
}

.container-body-in-media-page{
    max-width: 1500px;
    height: 93vh;
    margin: 0 auto;
    display: flex;
}

.content-left-in-body , .content-right-in-body{
    width: 28%;
    height: 100%;
    padding: 1rem !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.fix-container-content-left-in-body{
    width: 100%;
    height: 100%;
}

.content-center-in-body{
    flex-grow: 1;
    height: 100%;
    padding: 1rem 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
}

.container-left-in-body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem 1rem 10px 1rem !important;
}

.header-text-people-you-may-know{
    font-size: 1.1rem;
    font-weight: bold;
    color: #353535;
    text-transform: capitalize;
}

.border-top-people-you-may-know{
    width: 100%;
    height: 1px;
    background-color: #606770;
    opacity: .5;
    margin-bottom: 5px;
}

.overflow-auto-caontainer-fix{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.container-people-you-may-know{
    width: 100%;
    height: 85px;
    border-radius: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px 0;
    cursor: pointer;
}

.container-people-you-may-know:hover{
    background-color: #F3F3F3;
}

.container-image-people-you-may-know{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container-people-you-may-know{
    width: 60px;
    height: 60px;
    border-radius: 3.5rem;
    overflow: hidden;
}

.img-container-people-you-may-know img{
    width: 100%;
    height: 100%;
}

.container-fullname-people-you-may-know{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fullname-people-you-may-know b{
    color: #353535;
    font-size: 1rem;
    width: 100%;
    text-align: start;
    padding-left: 10px !important;
}

.container-button-follow-people-you-may-know{
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-button-follow-people-you-may-know button{
    width: 80%;
    height: 35px;
    border: none;
    background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%);
    background-size: 200% auto;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    transition: .5s;
    font-weight: 500;
}

.container-button-follow-people-you-may-know button:hover{
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.text-decoration-none-in-container-people-you-may-know{
    text-decoration: none;
    height: 100%;
}

#fix-container-img{
    width: 20%;
}

#fix-container-fullname{
    width: 50%;
}

.overflow-auto-caontainer-fix::-webkit-scrollbar{
    width: 5px;
}

.overflow-auto-caontainer-fix::-webkit-scrollbar-thumb{
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, .2);
}

.overflow-auto-caontainer-fix::-webkit-scrollbar-thumb:hover{
    background-color: rgba(0, 0, 0, .3);
}

.container-content-center-in-body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
}

.create-post-container{
    width: 100%;
    height: 125px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem !important;
}

.container-post-content{
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.link-to-profile-post{
    height: 100%;
}

.box-of-user-profile-img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-user-profile-img{
    width: 55px;
    height: 55px;
    border: 2rem;
    overflow: hidden;
}

.container-user-profile-img img{
    width: 100%;
    height: 100%;
}

.container-input-post{
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 2rem;
    overflow: hidden;
    background-color: #f5f6f7;
    padding: 10px 15px !important;
    transition: .2s;
}

.container-input-post:hover{
    background-color: #F2F3F5;
}

.container-input-post input{
    border: none;
    outline: none;
    width: 100%;
    color: #353535;
    font-size: 1.1rem;
    background: none;
}

.container-icons-post{
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.image-upload-icon , .video-upload-icon{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.image-upload-icon p , .video-upload-icon p{
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
}

.image-upload-icon p{
    color: #57CB6E;
}

.video-upload-icon p{
    color: #BB34D3;
}

.display-none-input-file{
    display: none;
}

.style-icon-post{
    font-size: 1.3rem;
    cursor: pointer;
}

#color-icon-image{
    color: #57CB6E;
}

#color-icon-video{
    color: #BB34D3;
}

.post-button-container{
    border-radius: 10px;
    overflow: hidden;
    width: 20%;
    height: 95%;
}

.post-button-container button{
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #00c6ff 0%, #0072ff 51%, #00c6ff 100%);
    background-size: 200% auto;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    transition: .5s;
}

.post-button-container button:hover{
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.container-content-right-in-body{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
}